@import "tailwindcss";

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Main font selection */
body {
    font-family: 'Playfair Display', serif;
}

.lazy {
    min-height: 128px; /* this is to force lazy loading */
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  z-index: 50;  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
